.smallLogo{
    height: 67px;
    display: flex;
    gap: 21px;
}

.smallLogo img{
    width: 52px;
    height: 60px;
}

.smallLogo h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}

