.counter{
    min-height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 21px;

    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.counter h2{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.rightIcon{
    color: #2FBE34;
}

.almostIcon{  
    color: #FF922E;
}

.errorIcon{
    color: #FF3030;
}

.finalMessage{
    width: 225px;
    height: 100px;
    padding: 7px;
    gap: 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finalMessage p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.resultTitle{
    display: flex;
    gap: 7px;
}